#formMessage {
  margin-top: 1rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

#formMessage.red {
  color: red;
  transform: scale(1.1);
}

#formMessage.green {
  color: green;
  transform: scale(1.1);
}
